# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# postgresql://{username}:{password}@{container_name}:{port}/{database_name}?schema=public
DATABASE_URL="postgresql://postgres:postgres@db:5432/socialbot?schema=public"
# DATABASE_URL="postgresql://postgres:postgres@localhost:5432/socialbot?schema=public"

JWT_SECRET="sheeshcret"
HASH_ROUNDS=10

META_APP_ID="1651374365433208"
META_APP_SECRET="a28fd7bad10a9a9667162229d562f028"

GOOGLE_API_CREDENTIALS="893973562167-bo5pbidejips74hgk5b53v3cptijqe81.apps.googleusercontent.com"
GOOGLE_OAUTH_CLIENT_ID="893973562167-bo5pbidejips74hgk5b53v3cptijqe81.apps.googleusercontent.com"
GOOGLE_OAUTH_CLIENT_SECRET="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"

https://accounts.google.com/o/oauth2/v2/auth?
scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fyoutube.readonly&
include_granted_scopes=true&
redirect_uri=http%3A%2F%2Flocalhost&
client_id=893973562167-bo5pbidejips74hgk5b53v3cptijqe81.apps.googleusercontent.com&
response_type=token

test='test'